---
layout: default
title: Jia Chenwei
description: 
---

<h1>Intro</h1>
<p>{{ site.description }}</p>

<h1>Latest Posts</h1>
<ul>
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
    </li>
    {% endfor %}
</ul>

<h1>github</h1>
<ul>
    {% for repository in site.github.public_repositories %}
        <li>
            <a href="{{ repository.html_url }}">{{ repository.name }}</a>
        </li>
    {% endfor %}
</ul>
