{% if page.author_profile or layout.author_profile %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
</div>
{% endif %}

{% if page.posts_sidebar or layout.posts_sidebar %}
<div class="sidebar sticky category-sidebar">
  <h2 class="archive__subtitle">📅Time Machine</h2>

  <!-- 日期归档 -->
  <section class="sidebar-section">
    <ul>
      {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date |
      date: "%Y"' %}
      {% for year in postsInYear %}
      <li>
        <a href="#{{ year.name }}" class="item">
          <span class="name">{{ year.name }}</span>
          <span class="size">({{ year.items | size }})</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endif %}