---
layout: archive
---

<!-- 高亮块 -->
<div class="highlight-box">
  <span class="icon">{{ site.highlight_msg.icon }}</span>
  <span class="type">{{ site.highlight_msg.type }}</span>
  <div class="markdown-content tex2jax_process">
    {{ site.highlight_msg.msg | markdownify }}
  </div>
</div>

{{ content }}

<h1 class="archive__subtitle">👋 Introduce</h1>
<div class="markdown-content">
  {{ site.author.intro | markdownify }}
</div>

<h1 class="archive__subtitle">📚 Research Interests</h1>
<ul style="display: flex; flex-wrap: wrap; gap: 16px; list-style-type: none; padding: 0;">
  {% assign colors = "#FFADAD,#FFD6A5,#FDFFB6,#CAFFBF,#9BF6FF,#A0C4FF,#BDB2FF,#FFC6FF,#FFFFFC" | split: "," %}
  {% assign color_count = colors | size %}
  {% for item in site.author.research_interests %}
  {% assign color_index = forloop.index0 | modulo: color_count %}
  <li
    style="display: inline-flex; padding: 8px 16px; background-color: {{ colors[color_index] }}; border-radius: 8px; text-align: center; justify-content: center; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    {{ item }}
  </li>
  {% endfor %}
</ul>

<h1 class="archive__subtitle">🚀 Github Activities</h1>
<img src="https://ghchart.rshah.org/jiachenwei" alt="jiachenwei's Github chart" />

<h1 class="archive__subtitle">📝 {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h1>

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}